.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

.leftside {
  background: yellow;
}

.rightside {
  background: rgb(154, 238, 253);
}

.center-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-title h1 {
  font-size: 24px;
  color: blue;
}

@media screen and (max-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }

  .center-title {
    top: 40%;
  }

  .center-title h1 {
    font-size: 20px;
  }
}
